<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <application
        android:name=".Application.SystemManagement"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".Controllers.MessageControllers.MessageChannel"
            android:exported="false" />
        <activity
            android:name=".Controllers.MessageControllers.MessageContactChooser"
            android:exported="false" />
        <activity
            android:name=".Controllers.ContactControllers.ContactList"
            android:exported="false" />
        <activity
            android:name=".Controllers.ContactControllers.ContactAdder"
            android:exported="false" />
        <activity
            android:name=".Controllers.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Material3.Dark" />
        <activity
            android:name=".Controllers.AccountControllers.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".Controllers.AccountControllers.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Add the BroadcastChannel activity -->
        <activity
            android:name=".Controllers.BroadcastChannel"
            android:exported="true">

            <!-- Add intent filters if necessary -->
        </activity>
    </application>

</manifest>